fastapi
uvicorn
python-multipart
python-dotenv
groq
pymongo
langchain-core
langchain-groq
langgraph
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-mongodb
pypdf
sentence-transformers